---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/sources?cursor=*&filter=country_code:DE&per_page=5&select=display_name,cited_by_count,works_count,issn,host_organization&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9986'
      X-Ratelimit-Remaining-Usd:
      - '0.9986'
      X-Ratelimit-Reset:
      - '85666'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 5342, "db_response_time_ms": 71, "page": null, "per_page":
        5, "next_cursor": "IlsxNzk5MTU3LCAxNDA0NzIsICdodHRwczovL29wZW5hbGV4Lm9yZy9TNDIxMDIwMDc1NCddIg==",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "Angewandte
        Chemie International Edition", "cited_by_count": 6425732, "works_count": 79865,
        "issn": ["1433-7851", "1521-3773"], "host_organization": "https://openalex.org/P4310320595"},
        {"display_name": "Advanced Materials", "cited_by_count": 4659583, "works_count":
        43675, "issn": ["0935-9648", "1521-4095"], "host_organization": null}, {"display_name":
        "The EMBO Journal", "cited_by_count": 3038792, "works_count": 22079, "issn":
        ["0261-4189", "1460-2075"], "host_organization": "https://openalex.org/P4310319965"},
        {"display_name": "Advanced Functional Materials", "cited_by_count": 2398274,
        "works_count": 40631, "issn": ["1616-301X", "1616-3028"], "host_organization":
        "https://openalex.org/P4310320595"}, {"display_name": "Angewandte Chemie",
        "cited_by_count": 1799157, "works_count": 140472, "issn": ["0044-8249", "1521-3757"],
        "host_organization": "https://openalex.org/P4310320595"}], "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:12:14 GMT
recorded_with: VCR 6.4.0
