---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/sources?cursor=*&filter=country_code:US&per_page=3&select=display_name,cited_by_count,works_count,issn,host_organization&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9972'
      X-Ratelimit-Remaining-Usd:
      - '0.9972'
      X-Ratelimit-Reset:
      - '85664'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 20024, "db_response_time_ms": 19, "page": null,
        "per_page": 3, "next_cursor": "IlsyMjQxNzk5NSwgMzg2NDY5LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvUzM4ODAyODUnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "PubMed",
        "cited_by_count": 46186889, "works_count": 7895403, "issn": null, "host_organization":
        "https://openalex.org/I1299303238"}, {"display_name": "Proceedings of the
        National Academy of Sciences", "cited_by_count": 22582133, "works_count":
        169793, "issn": ["0027-8424", "1091-6490"], "host_organization": "https://openalex.org/P4310320052"},
        {"display_name": "Science", "cited_by_count": 22417995, "works_count": 386469,
        "issn": ["0036-8075", "1095-9203"], "host_organization": "https://openalex.org/P4310315823"}],
        "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:12:17 GMT
recorded_with: VCR 6.4.0
