---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/sources?cursor=*&filter=issn:1476-4687&per_page=1&select=display_name,cited_by_count,works_count,issn,host_organization
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9983'
      X-Ratelimit-Remaining-Usd:
      - '0.9983'
      X-Ratelimit-Reset:
      - '85665'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 1, "db_response_time_ms": 12, "page": null, "per_page":
        1, "next_cursor": "Ils0NDc3ODcsICdodHRwczovL29wZW5hbGV4Lm9yZy9TMTM3NzczNjA4J10i",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "Nature",
        "cited_by_count": 26647701, "works_count": 447787, "issn": ["0028-0836", "1476-4687"],
        "host_organization": "https://openalex.org/P4310319908"}], "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:12:16 GMT
recorded_with: VCR 6.4.0
