---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/sources?cursor=*&filter=host_organization.id:https://openalex.org/P4310320068&per_page=10&select=display_name,cited_by_count,works_count,issn,host_organization&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9997'
      X-Ratelimit-Remaining-Usd:
      - '0.9997'
      X-Ratelimit-Reset:
      - '85667'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 3, "db_response_time_ms": 20, "page": null, "per_page":
        10, "next_cursor": "IlsxNTQyOCwgMTc4NiwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL1MyNzY0ODc5NDA1J10i",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "Journal
        of Oncology Practice", "cited_by_count": 58053, "works_count": 2873, "issn":
        ["1554-7477", "1935-469X"], "host_organization": "https://openalex.org/P4310320068"},
        {"display_name": "American Society of Clinical Oncology Educational Book",
        "cited_by_count": 42361, "works_count": 1654, "issn": ["1548-8748", "1548-8756",
        "1930-7020"], "host_organization": "https://openalex.org/P4310320068"}, {"display_name":
        "Journal of Global Oncology", "cited_by_count": 15428, "works_count": 1786,
        "issn": ["2378-9506"], "host_organization": "https://openalex.org/P4310320068"}],
        "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:12:13 GMT
recorded_with: VCR 6.4.0
