---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/sources?cursor=*&filter=is_in_doaj:true&per_page=10&select=display_name,cited_by_count,works_count,issn&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Remaining-Usd:
      - '0.9999'
      X-Ratelimit-Reset:
      - '85668'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 21779, "db_response_time_ms": 52, "page": null,
        "per_page": 10, "next_cursor": "IlszMDkyMzczLCAzODUwOSwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL1MxNTgyMjgzNjgnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "Journal
        of Biological Chemistry", "cited_by_count": 17254005, "works_count": 212249,
        "issn": ["0021-9258", "1067-8816", "1083-351X"]}, {"display_name": "PLoS ONE",
        "cited_by_count": 12169338, "works_count": 336459, "issn": ["1932-6203"]},
        {"display_name": "Scientific Reports", "cited_by_count": 7512367, "works_count":
        287688, "issn": ["2045-2322"]}, {"display_name": "Nature Communications",
        "cited_by_count": 7181841, "works_count": 86232, "issn": ["2041-1723"]}, {"display_name":
        "The Astrophysical Journal", "cited_by_count": 7121954, "works_count": 132750,
        "issn": ["0004-637X", "1538-4357"]}, {"display_name": "Nucleic Acids Research",
        "cited_by_count": 5991280, "works_count": 55766, "issn": ["0305-1048", "1362-4954",
        "1362-4962"]}, {"display_name": "Journal of Clinical Investigation", "cited_by_count":
        4864750, "works_count": 37452, "issn": ["0021-9738", "1558-8238"]}, {"display_name":
        "Monthly Notices of the Royal Astronomical Society", "cited_by_count": 3453017,
        "works_count": 93725, "issn": ["0035-8711", "1365-2966", "1365-8711"]}, {"display_name":
        "Journal of Virology", "cited_by_count": 3443024, "works_count": 52084, "issn":
        ["0022-538X", "1070-6321", "1098-5514"]}, {"display_name": "Applied and Environmental
        Microbiology", "cited_by_count": 3092373, "works_count": 38509, "issn": ["0099-2240",
        "1070-6291", "1098-5336"]}], "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:12:12 GMT
recorded_with: VCR 6.4.0
