---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/sources?cursor=*&per_page=1&search=Cell&select=display_name,works_count,cited_by_count,issn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.001'
      X-Ratelimit-Credits-Used:
      - '10'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9987'
      X-Ratelimit-Remaining-Usd:
      - '0.9987'
      X-Ratelimit-Reset:
      - '85667'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 369, "db_response_time_ms": 18, "page": null, "per_page":
        1, "next_cursor": "IlsxMzQyMjcuNCwgMjY4MzcsICdodHRwczovL29wZW5hbGV4Lm9yZy9TMTEwNDQ3NzczJ10i",
        "groups_count": null, "cost_usd": 0.001}, "results": [{"display_name": "Cell",
        "works_count": 26837, "cited_by_count": 8862681, "issn": ["0092-8674", "1097-4172"]}],
        "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:12:14 GMT
recorded_with: VCR 6.4.0
