---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/topics?cursor=*&filter=subfield.id:S2&per_page=10&select=display_name,works_count,cited_by_count&sort=works_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9951'
      X-Ratelimit-Remaining-Usd:
      - '0.9951'
      X-Ratelimit-Reset:
      - '85353'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 0, "db_response_time_ms": 0, "page": null, "per_page":
        10, "next_cursor": null, "groups_count": null, "cost_usd": 0.0001}, "results":
        [], "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:17:27 GMT
recorded_with: VCR 6.4.0
