---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/topics?cursor=*&filter=works_count:%3E10000&per_page=5&select=display_name,works_count,cited_by_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9935'
      X-Ratelimit-Remaining-Usd:
      - '0.9935'
      X-Ratelimit-Reset:
      - '85350'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 4311, "db_response_time_ms": 42, "page": null, "per_page":
        5, "next_cursor": "IlszMjE3OTA3LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVDEwNDUxJ10i",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "Military
        Technology and Strategies", "works_count": 21015789, "cited_by_count": 809166},
        {"display_name": "Magnetic confinement fusion research", "works_count": 9276559,
        "cited_by_count": 2547263}, {"display_name": "Diverse Scientific and Economic
        Studies", "works_count": 5008424, "cited_by_count": 636940}, {"display_name":
        "Geochemistry and Geologic Mapping", "works_count": 3955594, "cited_by_count":
        1659965}, {"display_name": "Mycorrhizal Fungi and Plant Interactions", "works_count":
        3217907, "cited_by_count": 1973157}], "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:17:31 GMT
recorded_with: VCR 6.4.0
