---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/topics?cursor=*&filter=id:INVALID_ID&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9956'
      X-Ratelimit-Remaining-Usd:
      - '0.9956'
      X-Ratelimit-Reset:
      - '85355'
    body:
      encoding: UTF-8
      string: '{"error":"Invalid query parameters error.","message":"''INVALID_ID''
        is not a valid OpenAlex ID."}

        '
  recorded_at: Fri, 27 Mar 2026 00:17:25 GMT
recorded_with: VCR 6.4.0
