---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/topics?cursor=*&filter=id:T11636&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9955'
      X-Ratelimit-Remaining-Usd:
      - '0.9955'
      X-Ratelimit-Reset:
      - '85355'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 1, "db_response_time_ms": 2, "page": null, "per_page":
        1, "next_cursor": "IlsxMTk1NTUsICdodHRwczovL29wZW5hbGV4Lm9yZy9UMTE2MzYnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/T11636",
        "display_name": "Artificial Intelligence in Healthcare and Education", "description":
        "This cluster of papers explores the intersection of artificial intelligence
        and medicine, focusing on applications in healthcare, medical imaging, clinical
        decision support, and the ethical challenges associated with AI implementation.
        It delves into topics such as machine learning, big data, precision medicine,
        and the potential impact of AI on health equity.", "keywords": ["Artificial
        Intelligence", "Machine Learning", "Healthcare", "Medical Imaging", "Clinical
        Decision Support", "Ethical Challenges", "Big Data", "Precision Medicine",
        "Radiology", "Health Equity"], "ids": {"openalex": "https://openalex.org/T11636",
        "wikipedia": "https://en.wikipedia.org/wiki/Artificial_intelligence_in_healthcare"},
        "subfield": {"id": "https://openalex.org/subfields/2718", "display_name":
        "Health Informatics"}, "field": {"id": "https://openalex.org/fields/27", "display_name":
        "Medicine"}, "domain": {"id": "https://openalex.org/domains/4", "display_name":
        "Health Sciences"}, "siblings": [], "works_count": 119555, "cited_by_count":
        784001, "works_api_url": "https://api.openalex.org/works?filter=topics.id:T11636",
        "updated_date": "2026-03-26T03:01:39", "created_date": "2024-01-23T15:27:11"}],
        "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:17:26 GMT
recorded_with: VCR 6.4.0
