---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/topics?cursor=*&per_page=3&search=artificial%20intelligence&select=display_name,works_count,cited_by_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.001'
      X-Ratelimit-Credits-Used:
      - '10'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9939'
      X-Ratelimit-Remaining-Usd:
      - '0.9939'
      X-Ratelimit-Reset:
      - '85351'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 75, "db_response_time_ms": 362, "page": null, "per_page":
        3, "next_cursor": "IlszNjkxNi4zNywgNDYwODcsICdodHRwczovL29wZW5hbGV4Lm9yZy9UMTIwMjYnXSI=",
        "groups_count": null, "cost_usd": 0.001}, "results": [{"display_name": "Artificial
        Intelligence in Healthcare and Education", "works_count": 119555, "cited_by_count":
        784001}, {"display_name": "Artificial Intelligence in Healthcare", "works_count":
        76308, "cited_by_count": 497011}, {"display_name": "Explainable Artificial
        Intelligence (XAI)", "works_count": 46087, "cited_by_count": 415250}], "group_by":
        []}'
  recorded_at: Fri, 27 Mar 2026 00:17:29 GMT
recorded_with: VCR 6.4.0
