---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/topics?cursor=*&per_page=5&select=display_name,works_count,cited_by_count&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9967'
      X-Ratelimit-Remaining-Usd:
      - '0.9967'
      X-Ratelimit-Reset:
      - '85356'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 4516, "db_response_time_ms": 231, "page": null,
        "per_page": 5, "next_cursor": "Ils2NTgyMDk0LCAxOTM0NTMsICdodHRwczovL29wZW5hbGV4Lm9yZy9UMTAwMTgnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "Neuroscience
        and Neuropharmacology Research", "works_count": 228039, "cited_by_count":
        8687076}, {"display_name": "Geological and Geochemical Analysis", "works_count":
        375574, "cited_by_count": 8164023}, {"display_name": "Genomics and Phylogenetic
        Studies", "works_count": 570249, "cited_by_count": 7722163}, {"display_name":
        "Advanced Chemical Physics Studies", "works_count": 205111, "cited_by_count":
        7576124}, {"display_name": "Advancements in Battery Materials", "works_count":
        193453, "cited_by_count": 6582094}], "group_by": []}'
  recorded_at: Fri, 27 Mar 2026 00:17:25 GMT
recorded_with: VCR 6.4.0
