---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/authors?cursor=*&filter=orcid:0000-0001-6187-6610&per_page=1&select=display_name,works_count,cited_by_count,summary_stats,ids,last_known_institutions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9945'
      X-Ratelimit-Remaining-Usd:
      - '0.9945'
      X-Ratelimit-Reset:
      - '5575'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 1, "db_response_time_ms": 34, "page": null, "per_page":
        1, "next_cursor": "Ils2MCwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL0E1MDIzODg4MzkxJ10i",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "Jason
        Priem", "works_count": 60, "cited_by_count": 4278, "summary_stats": {"2yr_mean_citedness":
        4.0, "h_index": 17, "i10_index": 20}, "ids": {"openalex": "https://openalex.org/A5023888391",
        "orcid": "https://orcid.org/0000-0001-6187-6610"}, "last_known_institutions":
        null}], "group_by": []}'
  recorded_at: Thu, 26 Mar 2026 22:27:05 GMT
recorded_with: VCR 6.4.0
