---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/authors?cursor=*&per_page=10&select=display_name,cited_by_count,works_count,summary_stats,ids,last_known_institutions&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9946'
      X-Ratelimit-Remaining-Usd:
      - '0.9946'
      X-Ratelimit-Reset:
      - '5576'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 114486269, "db_response_time_ms": 117, "page": null,
        "per_page": 10, "next_cursor": "Ils1MjEwMzEsIDg5NywgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL0E1MDIwNzQ4NTkyJ10i",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "David
        Moher", "cited_by_count": 843369, "works_count": 1534, "summary_stats": {"2yr_mean_citedness":
        15.5, "h_index": 214, "i10_index": 803}, "ids": {"openalex": "https://openalex.org/A5068353058",
        "orcid": "https://orcid.org/0000-0003-2434-4206"}, "last_known_institutions":
        [{"id": "https://openalex.org/I1291425158", "ror": "https://ror.org/00njsd438",
        "display_name": "Google (United States)", "country_code": "US", "type": "company",
        "lineage": ["https://openalex.org/I1291425158", "https://openalex.org/I4210128969"]},
        {"id": "https://openalex.org/I1295876152", "ror": "https://ror.org/027zt9171",
        "display_name": "Houston Methodist", "country_code": "US", "type": "healthcare",
        "lineage": ["https://openalex.org/I1295876152"]}, {"id": "https://openalex.org/I153718931",
        "ror": "https://ror.org/03c4mmv16", "display_name": "University of Ottawa",
        "country_code": "CA", "type": "education", "lineage": ["[...]
[...]
