---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/authors?cursor=*&per_page=3&select=display_name,works_count,cited_by_count,summary_stats,ids&sort=works_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9947'
      X-Ratelimit-Remaining-Usd:
      - '0.9947'
      X-Ratelimit-Reset:
      - '5577'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 114486269, "db_response_time_ms": 217, "page": null,
        "per_page": 3, "next_cursor": "Ils4OTkzNzksIDg5OTM3OSwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL0E1MDc3Mjk3NTc3J10i",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"display_name": "Mikirou
        Yoshinuma", "works_count": 1133152, "cited_by_count": 183, "summary_stats":
        {"2yr_mean_citedness": 9.707778224923926e-06, "h_index": 8, "i10_index": 7},
        "ids": {"openalex": "https://openalex.org/A5103423779", "orcid": null}}, {"display_name":
        "T. Kobayashi", "works_count": 987213, "cited_by_count": 3517, "summary_stats":
        {"2yr_mean_citedness": 4.559704774314879e-05, "h_index": 28, "i10_index":
        98}, "ids": {"openalex": "https://openalex.org/A5028125522", "orcid": "https://orcid.org/0000-0001-5669-1937"}},
        {"display_name": "M. Emoto", "works_count": 899379, "cited_by_count": 3267,
        "summary_stats": {"2yr_mean_citedness": 2.224177026697909e-06, "h_index":
        32, "i10_index": 76}, "ids": {"openalex": "https://openalex.org/A5077297577",
        "orcid": "https://orcid.org/0000-0002-0441-6340"}}], "group_by": []}'
  recorded_at: Thu, 26 Mar 2026 22:27:04 GMT
[...]
