---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=author.id:A5002100987%7CA5012345678&per_page=10&select=title,publication_year,cited_by_count,doi,authorships&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9881'
      X-Ratelimit-Remaining-Usd:
      - '0.9881'
      X-Ratelimit-Reset:
      - '427'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 2, "db_response_time_ms": 20, "page": null, "per_page":
        10, "next_cursor": "IlszLCA5Ni4wLCAzLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzQzODcwNzk3MTYnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"title": "Neurocognitive
        impairment, employment, and social status in radiotherapy-treated adult survivors
        of childhood brain tumors", "publication_year": 2021, "cited_by_count": 27,
        "doi": "https://doi.org/10.1093/nop/npab004", "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5029468756", "display_name":
        "Tiina Remes", "orcid": "https://orcid.org/0000-0003-4318-5343"}, "institutions":
        [{"id": "https://openalex.org/I133731052", "display_name": "University of
        Helsinki", "ror": "https://ror.org/040af2s02", "country_code": "FI", "type":
        "education", "lineage": ["https://openalex.org/I133731052"]}, {"id": "https://openalex.org/I2800394112",
        "display_name": "Helsinki University Hospital", "ror": "https://ror.org/02e8hzf44",
        "country_code": "FI", "type": "healthcare", "lineage": ["https://openalex.org/I2800394112",
        "https://openalex.org/I4210166427"]}, {"id": "https://openalex.org/I98381234",
        "display_name": "University of Oulu", "ror": "https://ror.org/03yj89h83",
        "country_code": "FI", "type": "education", "lineage": ["https://openalex.org/I98381234"]},
        {"id": "https://openalex.org/I2799272722", "display_name": "Oulu University
        Hospital", "ror": "https://ror.org/045ney286", "country_code": "FI", "type":
        "healthcare", "lineage": ["https://openalex.org/I2799272722"]}], "countries":
        ["FI"], "is_corresponding": true, "raw_author_name": "Tiina M Remes", "raw_affiliation_strings":
        ["Department of Child Neurology, Children\u2019s Hospital, University of Helsinki
        and Helsinki University Hospital, Helsinki, Finland", "Department of Pediatrics
        and Adolescence, PEDEGO Research Unit and Medical Research Center, Oulu University
        Hospital and University of Oulu, Oulu, Finland", "Department of Child Neurology,
        Children''s Hospital, University of Helsinki and Helsinki University Hospital,
        Helsinki, Finland"], "affiliations": [{"raw_affiliation_string": "Department
        of Child Neurology, Children\u2019s Hospital, University of Helsinki and Helsinki
        University Hospital, Helsinki, Finland", "institution_ids": ["https://openalex.org/I2800394112",
        "https://openalex.org/I133731052"]}, {"raw_affiliation_string": "Department
        of Pediatrics and Adolescence, PEDEGO Research Unit and Medical Research Center,
        Oulu University Hospital and University of Oulu, Oulu, Finland", "institution_ids":
        ["https://openalex.org/I2799272722", "https://openalex.org/I98381234"]}, {"raw_affiliation_string":
        "Department of Child Neurology, Children''s Hospital, University of Helsinki
    [...]
