---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=doi:10.1038/nature12345&per_page=1&select=title,publication_year,cited_by_count,doi,authorships,abstract_inverted_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9847'
      X-Ratelimit-Remaining-Usd:
      - '0.9847'
      X-Ratelimit-Reset:
      - '415'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 1, "db_response_time_ms": 26, "page": null, "per_page":
        1, "next_cursor": "IlsxMDAuMCwgNTMzLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzE5NzExMTkwOTUnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"title": "LRG1 promotes
        angiogenesis by modulating endothelial TGF-\u03b2 signalling", "publication_year":
        2013, "cited_by_count": 533, "doi": "https://doi.org/10.1038/nature12345",
        "authorships": [{"author_position": "first", "author": {"id": "https://openalex.org/A5100423388",
        "display_name": "Xiaomeng Wang", "orcid": "https://orcid.org/0000-0002-1036-2764"},
        "institutions": [{"id": "https://openalex.org/I45129253", "display_name":
        "University College London", "ror": "https://ror.org/02jx3x895", "country_code":
        "GB", "type": "education", "lineage": ["https://openalex.org/I124357947",
        "https://openalex.org/I45129253"]}], "countries": ["GB"], "is_corresponding":
        true, "raw_author_name": "Xiaomeng Wang", "raw_affiliation_strings": ["Department
        of Cell Biology, UCL Institute of Ophthalmology, London EC1V 9EL, UK"], "affiliations":
        [{"raw_affiliation_string": "Department of Cell Biology, UCL Institute of
        Ophthalmology, London EC1V 9EL, UK", "institution_ids": ["https://openalex.org/I45129253"]}]},
        {"author_position": "middle", "author": {"id": "https://openalex.org/A5082293503",
        "display_name": "Sabu Abraham", "orcid": "https://orcid.org/0000-0002-0916-5827"},
        "institutions": [{"id": "https://openalex.org/I45129253", "display_name":
        "University College London", "ror": "https://ror.org/02jx3x895", "country_code":
        "GB", "type": "education", "lineage": ["https://openalex.org/I124357947",
        "https://openalex[...]
