---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=locations.source.id:S4210163905,publication_year:2021&per_page=5&select=title,publication_year,cited_by_count,doi,authorships&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9883'
      X-Ratelimit-Remaining-Usd:
      - '0.9883'
      X-Ratelimit-Reset:
      - '428'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 0, "db_response_time_ms": 75, "page": null, "per_page":
        5, "next_cursor": null, "groups_count": null, "cost_usd": 0.0001}, "results":
        [], "group_by": []}'
  recorded_at: Thu, 26 Mar 2026 23:52:52 GMT
recorded_with: VCR 6.4.0
