---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=type:article&per_page=10&select=title,publication_year,cited_by_count,type,doi&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9851'
      X-Ratelimit-Remaining-Usd:
      - '0.9851'
      X-Ratelimit-Reset:
      - '417'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 212079326, "db_response_time_ms": 409, "page": null,
        "per_page": 10, "next_cursor": "IlsxNzQwNDYsIDEwMC4wLCAxNzQwNDYsICdodHRwczovL29wZW5hbGV4Lm9yZy9XMTk3OTI5MDI2NCddIg==",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"title": "Radiation
        Resistant Camera System for Monitoring Deuterium Plasma Discharges in the
        Large Helical Device", "publication_year": 2020, "cited_by_count": 801217,
        "type": "article", "doi": "https://doi.org/10.1585/pfr.15.2402039"}, {"title":
        "R: A Language and Environment for Statistical Computing", "publication_year":
        2000, "cited_by_count": 352818, "type": "article", "doi": "https://doi.org/10.32614/r.manuals"},
        {"title": "PROTEIN MEASUREMENT WITH THE FOLIN PHENOL REAGENT", "publication_year":
        1951, "cited_by_count": 317640, "type": "article", "doi": "https://doi.org/10.1016/s0021-9258(19)52451-6"},
        {"title": "Cleavage of Structural Prote[...]
