---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=publication_year:2022&per_page=10&select=title,publication_year,cited_by_count,doi&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9852'
      X-Ratelimit-Remaining-Usd:
      - '0.9852'
      X-Ratelimit-Reset:
      - '418'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 10019765, "db_response_time_ms": 40, "page": null,
        "per_page": 10, "next_cursor": "IlsxMDM3NywgMTAwLjAsIDEwMzc3LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzQyMTAzMjcxMzUnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"title": "Advances
        In Experimental Social Psychology", "publication_year": 2022, "cited_by_count":
        22489, "doi": "https://doi.org/10.1016/s0065-2601(22)x0002-6"}, {"title":
        "Diagnostic and Statistical Manual of Mental Disorders", "publication_year":
        2022, "cited_by_count": 20460, "doi": "https://doi.org/10.1176/appi.books.9780890425787"},
        {"title": "", "publication_year": 2022, "cited_by_count": 19343, "doi": "https://doi.org/10.7551/mitpress/3206.001.0001"},
        {"title": "Cancer statistics, 2022", "publication_year": 2022, "cited_by_count":
        17971, "doi": "https://doi.[...]
