---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=&per_page=3&select=title,publication_year,cited_by_count,doi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9844'
      X-Ratelimit-Remaining-Usd:
      - '0.9844'
      X-Ratelimit-Reset:
      - '413'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 297070697, "db_response_time_ms": 262, "page": null,
        "per_page": 3, "next_cursor": "IlsxMDAuMCwgMjUxMjI2LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzIxMDA4MzcyNjknXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"title": "Radiation
        Resistant Camera System for Monitoring Deuterium Plasma Discharges in the
        Large Helical Device", "publication_year": 2020, "cited_by_count": 801217,
        "doi": "https://doi.org/10.1585/pfr.15.2402039"}, {"title": "PROTEIN MEASUREMENT
        WITH THE FOLIN PHENOL REAGENT", "publication_year": 1951, "cited_by_count":
        317640, "doi": "https://doi.org/10.1016/s0021-9258(19)52451-6"}, {"title":
        "Cleavage of Structural Proteins during the Assembly of the Head of Bacteriophage
        T4", "publication_year": 1970, "cited_by_count": 251226, "doi": "https://doi.org/10.1038/227680a0"}],
        "group_by": []}'
  recorded_at: Thu, 26 Mar 2026 23:53:07 GMT
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=IlsxMDAuMCwgMjUxMjI2LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzIxMDA4MzcyNjknXSI=&filter=&per_page=3&select=title,publication_year,cited_by_count,doi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Co[...]
