---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=publication_year:%3C2027,cited_by_count:%3E0&per_page=10&select=title,publication_year,publication_date,cited_by_count,doi,authorships&sort=publication_date:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9879'
      X-Ratelimit-Remaining-Usd:
      - '0.9879'
      X-Ratelimit-Reset:
      - '426'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 110455902, "db_response_time_ms": 311, "page": null,
        "per_page": 10, "next_cursor": "IlsxNzc1MTc0NDAwMDAwLCAxMDAuMCwgNCwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL1c3MTMzNTU4Njg3J10i",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"title": "A Detection
        of Sulfur-Bearing Cyclic Hydrocarbons in Space", "publication_year": 2026,
        "publication_date": "2026-12-31", "cited_by_count": 1, "doi": "https://doi.org/10.5281/zenodo.17598371",
        "authorships": [{"author_position": "first", "author": {"id": "https://openalex.org/A5023636297",
        "display_name": "Mitsunori Araki", "orcid": "https://orcid.org/0000-0003-4530-9741"},
        "institutions": [], "countries": [], "is_corresponding": true, "raw_author_name":
        "Araki, Mitsunori", "raw_affiliation_strings": [], "affiliations": []}, {"author_position":
        "middle", "author": {"id": "https://openalex.org/A5121348658", "display_name":
        "Miguel Sanz-Novo", "orcid": null}, "institutions": [], "countries": [], "is_corresponding":
        false, "raw_author_name": "Sanz-Novo, Miguel", "raw_affiliation_strings":
        [], "affiliations": []}, {"author_position": "middle", "author": {"id": "https://openalex.org/A5121319646",
        "display_name": "Christian P. Endres", "orcid": null}, "institutions": [],
     [...]
