---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=publication_year:2020&per_page=5&select=title,publication_year,cited_by_count,doi,authorships,open_access&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9865'
      X-Ratelimit-Remaining-Usd:
      - '0.9865'
      X-Ratelimit-Reset:
      - '421'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 11301983, "db_response_time_ms": 54, "page": null,
        "per_page": 5, "next_cursor": "IlszMDE3OSwgMTAwLjAsIDMwMTc5LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzMwMDE4OTcwNTUnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"title": "Radiation
        Resistant Camera System for Monitoring Deuterium Plasma Discharges in the
        Large Helical Device", "publication_year": 2020, "cited_by_count": 801217,
        "doi": "https://doi.org/10.1585/pfr.15.2402039", "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5039600762", "display_name":
        "M. Shoji", "orcid": "https://orcid.org/0000-0003-0655-7347"}, "institutions":
        [{"id": "https://openalex.org/I199525922", "display_name": "National Institutes
        of Natural Sciences", "ror": "https://ror.org/055n47h92", "country_code":
        "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922"]}, {"id": "https://openalex.org/I4210108322",
        "display_name": "National Institute for Fusion Science", "ror": "https://ror.org/01t3wyv61",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922", "https://openalex.org/I4210108322"]}],
        "countries": ["JP"], "is_corresponding": true, "raw_author_name": "Mamoru
        SHOJI", "raw_affiliation_strings": ["National Institute for Fusion Science,
        National Institutes of Natural Sciences"], "affiliations": [{"raw_affiliation_string":
        "National Institute for Fusion Science, National Institutes of Natural Sciences",
        "institution_ids": ["https://openalex.org/I4210108322", "https://openalex.org/I199525922"]}]},
        {"author_position": "last", "author": {"id": null, "display_name": "LHD Experiment
        Group", "orcid": null}, "institutions": [{"id": "https://openalex.org/I199525922",
        "display_name": "National Institutes of Natural Sciences", "ror": "https://ror.org/055n47h92",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922"]}, {"id": "https://openalex.org/I4210108322",
        "display_name": "National Institute for Fusion Science", "ror": "https://ror.org/01t3wyv61",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922", "https://openalex.org/I4210108322"]}],
        "countries": ["JP"], "is_corresponding": false, "raw_author_name": "LHD Experiment
        Group", "raw_affiliation_strings": ["National Institute for Fusion Science,
        National Institutes of Natural Sciences"], "affiliations": [{"raw_affiliation_string":
        "National Institute for Fusion Science, National Institutes of Natural Sciences",
        "institution_ids": ["https://openalex.org/I4210108322", "https://openalex.org/I199525922"]}]}],
        "open_access": {"is_oa": true, "oa_status": "diamond", "oa_url": "https://www.jstage.jst.go.jp/article/pfr/15/0/15_2402039/_pdf",
        "any_repository_has_fulltext": false}}, {"title": "Clinical features of patients
        infected with 2019 novel coronavirus in Wuhan, China", "publication_year":
        2020, "cited_by_count": 51560, "doi": "https://doi.org/10.1016/s0140-6736(20)30183-5",
        "authorships": [{"author_position": "first", "author": {"id": "https://openalex.org/A5101545030",
        "display_name": "Chaolin Huang", "orcid": "https://orcid.org/0000-0001-6240-7963"},
        "institutions": [], "countries": [], "is_corresponding": false, "[...]
