---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=is_oa:true&per_page=10&select=title,publication_year,cited_by_count,doi,open_access&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9850'
      X-Ratelimit-Remaining-Usd:
      - '0.985'
      X-Ratelimit-Reset:
      - '416'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 97393535, "db_response_time_ms": 190, "page": null,
        "per_page": 10, "next_cursor": "Ils5NzA0OSwgMTAwLjAsIDk3MDQ5LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzIxNzk0MzgwMjUnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"title": "Radiation
        Resistant Camera System for Monitoring Deuterium Plasma Discharges in the
        Large Helical Device", "publication_year": 2020, "cited_by_count": 801217,
        "doi": "https://doi.org/10.1585/pfr.15.2402039", "open_access": {"is_oa":
        true, "oa_status": "diamond", "oa_url": "https://www.jstage.jst.go.jp/article/pfr/15/0/15_2402039/_pdf",
        "any_repository_has_fulltext": false}}, {"title": "R: A Language and Environment
        for Statistical Computing", "publication_year": 2000, "cited_by_count": 352818,
        "doi": "https://doi.org/10.32614/r.manuals", "open_access": {"is_oa": true,
        "oa_status": "gold", "oa_url": "https://cran.r-project.org/doc/manuals/r-release/R-intro.pdf",
        "any_repository_has_fulltext": true}}, {"title": "PROTEIN MEASUREMENT WITH
        THE FOLIN PHENOL REAGENT", "publication_year": 1951, "cited_by_count": 317640,
    [...]
