---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=is_oa:true,publication_year:2023&per_page=5&select=title,publication_year,cited_by_count,doi,open_access&sort=cited_by_count:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9864'
      X-Ratelimit-Remaining-Usd:
      - '0.9864'
      X-Ratelimit-Reset:
      - '420'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 6553492, "db_response_time_ms": 57, "page": null,
        "per_page": 5, "next_cursor": "IlsxMjkzMCwgMTAwLjAsIDEyOTMwLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzQzODEzMDQ2NzInXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"title": "MizAR 60
        for Mizar 50", "publication_year": 2023, "cited_by_count": 74325, "doi": "https://doi.org/10.4230/lipics.itp.2023.19",
        "open_access": {"is_oa": true, "oa_status": "green", "oa_url": "https://drops.dagstuhl.de/storage/00lipics/lipics-vol268-itp2023/LIPIcs.ITP.2023.19/LIPIcs.ITP.2023.19.pdf",
        "any_repository_has_fulltext": true}}, {"title": "Official Methods of Analysis",
        "publication_year": 2023, "cited_by_count": 28054, "doi": "https://doi.org/10.1093/9780197610145.002.001",
        "open_access": {"is_oa": true, "oa_status": "gold", "oa_url": "https://academic.oup.com/aoac-publications/book/45491/chapter/392327022/chapter-ag-pdf/56719633/book_45491_section_392327022.ag.pdf",
        "any_repository_has_fulltext": null}}, {"title": "Cancer statistics, 2023",
        "publication_year": 2023, "cited_by_c[...]
