---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=&per_page=5&search=machine%20learning&select=title,publication_year,cited_by_count,doi,authorships,open_access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.001'
      X-Ratelimit-Credits-Used:
      - '10'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9853'
      X-Ratelimit-Remaining-Usd:
      - '0.9853'
      X-Ratelimit-Reset:
      - '418'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 3758361, "db_response_time_ms": 514, "page": null,
        "per_page": 5, "next_cursor": "Ils5NzcxLjg4NywgMTE2NzYwOTYwMDAwMCwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL1czMTIwNzQwNTMzJ10i",
        "groups_count": null, "cost_usd": 0.001}, "results": [{"title": "Scikit-learn:
        Machine Learning in Python", "publication_year": 2012, "cited_by_count": 63376,
        "doi": "https://doi.org/10.48550/arxiv.1201.0490", "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5105141183", "display_name":
        "Fabi\u00e1n Pedregosa", "orcid": "https://orcid.org/0000-0003-4025-3953"},
        "institutions": [{"id": "https://openalex.org/I2738703131", "display_name":
        "Commissariat \u00e0 l''\u00c9nergie Atomique et aux \u00c9nergies Alternatives",
        "ror": "https://ror.org/00jjx8s55", "country_code": "FR", "type": "government",
        "lineage": ["https://openalex.org/I2738703131"]}, {"id": "https://openalex.org/I4210128565",
        "display_name": "CEA Paris-Saclay", "ror": "https://ror.org/03n15ch10", "country_code":
        "FR", "type": "government", "lineage": ["https://openalex.org/I2738703131",
        "https://openalex.org/I277688954", "https://openalex.org/I4210128565"]}],
        "countries": ["FR"], "is_corresponding": true, "raw_author_name": "Pedregosa,
        Fabian", "raw_affiliation_strings": ["LNAO - Laboratoire de Neuroimagerie
        Assist\u00e9e par Ordinateur (France)", "PARIETAL - Modelling brain structure,
        function and variability based on high-field MRI data (Neurospin, CEA Saclay,
        B\u00e2timent 145, 91191 Gif-sur-Yvette Cedex - France)"], "affiliations":
        [{"raw_affiliation_string": "LNAO - Laboratoire de Neuroimagerie Assist\u00e9e
        par Ordinateur (France)", "institution_ids": []}, {"raw_affiliation_string":
        "PARIETAL - Modelling brain structure, function and variability based on high-field
        MRI data (Neurospin, CEA Saclay, B\u00e2timent 145, 91191 Gif-sur-Yvette Cedex
        - France)", "institution_ids": ["https://openalex.org/I2738703131", "https://openalex.org/I4210128565"]}]},
        {"author_position": "middle", "author": {"id": "https://openalex.org/A5074733625",
        "display_name": "Ga\u00ebl Varoquaux", "orcid": "https://orcid.org/0000-0[...]
