---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=publication_year:2022&per_page=5&search=artificial%20intelligence&select=title,publication_year,cited_by_count,doi,authorships,open_access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.001'
      X-Ratelimit-Credits-Used:
      - '10'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9884'
      X-Ratelimit-Remaining-Usd:
      - '0.9884'
      X-Ratelimit-Reset:
      - '429'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 190935, "db_response_time_ms": 197, "page": null,
        "per_page": 5, "next_cursor": "IlsyMjI3LjQ2MDcsIDE2NTE2MjI0MDAwMDAsICdodHRwczovL29wZW5hbGV4Lm9yZy9XMzE4MzE5ODg5NiddIg==",
        "groups_count": null, "cost_usd": 0.001}, "results": [{"title": "BNAI, NO-TOKEN,
        and MIND-UNITY: Pillars of a Systemic Revolution in Artificial Intelligence",
        "publication_year": 2022, "cited_by_count": 4209, "doi": "https://doi.org/10.48550/arxiv.2201.11903",
        "authorships": [{"author_position": "first", "author": {"id": "https://openalex.org/A5100657725",
        "display_name": "Jason Lee", "orcid": "https://orcid.org/0000-0003-4042-795X"},
        "institutions": [], "countries": [], "is_corresponding": true, "raw_author_name":
        "Wei, Jason", "raw_affiliation_strings": [], "affiliations": []}, {"author_position":
        "middle", "author": {"id": "https://openalex.org/A5024842018", "display_name":
        "Xuezhi Wang", "orcid": "https://orcid.org/0000-0001-7592-2358"}, "institutions":
        [], "countries": [], "is_corresponding": false, "raw_author_name": "Wang,
        Xuezhi", "raw_affiliation_strings": [], "affiliations": []}, {"author_position":
        "middle", "author": {"id": "https://openalex.org/A5010575626", "display_name":
        "Dale Schuurmans", "orcid": nul[...]
