---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=publication_year:2023&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9882'
      X-Ratelimit-Remaining-Usd:
      - '0.9882'
      X-Ratelimit-Reset:
      - '428'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 10604419, "db_response_time_ms": 24, "page": null,
        "per_page": 1, "next_cursor": "IlsxMDAuMCwgNzQzMjUsICdodHRwczovL29wZW5hbGV4Lm9yZy9XNDM4NTI0NTU2NiddIg==",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W4385245566",
        "doi": "https://doi.org/10.4230/lipics.itp.2023.19", "title": "MizAR 60 for
        Mizar 50", "display_name": "MizAR 60 for Mizar 50", "publication_year": 2023,
        "publication_date": "2023-01-01", "ids": {"openalex": "https://openalex.org/W4385245566",
        "doi": "https://doi.org/10.4230/lipics.itp.2023.19"}, "language": "en", "primary_location":
        {"id": "pmh:oai:drops-oai.dagstuhl.de:18394", "is_oa": true, "landing_page_url":
        "https://drops.dagstuhl.de/entities/document/10.4230/LIPIcs.ITP.2023.19",
        "pdf_url": "https://drops.dagstuhl.de/storage/00lipics/lipics-vol268-itp2023/LIPIcs.ITP.2023.19/LIPIcs.ITP.2023.19.pdf",
        "source": {"id": "https://openalex.org/S4377196569", "display_name": "DROPS
        (Schloss Dagstuhl \u2013 Leibniz Center for Informatics)", "issn_l": null,
        "issn": null, "is_oa": false, "is_in_doaj": false, "is_core": false, "host_organization":
        "https://openalex.org/I2799853480", "host_organization_name": "Schloss Dagstuhl
        \u2013 Leibniz Center for Informatics", "host_organization_lineage": ["https://openalex.org/I2799853480"],
        "host_organization_lineage_names": [], "type": "repository"}, "license": "cc-by",
        "license_id": "https://openalex.org/licenses/cc-by", "version": "submittedVersion",
        "is_accepted": false, "is_published": false, "raw_source_name": "", "raw_type":
        "InProceedings"}, "type": "preprint", "indexed_in": ["datacite"], "open_access":
        {"is_oa": true, "oa_status": "green", "oa_url": "https://drops.dagstuhl.de/storage/00lipics/lipics-vol268-itp2023/LIPIcs.ITP.2023.19/LIPIcs.ITP.2023.19.pdf",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": null, "display_name": "Jakub\u016fv, Jan", "orcid":
        "https://orcid.org/0000-0002-8848-5537"}, "institutions": [{"id": "https://openalex.org/I44504214",
        "display_name": "Czech Technical University in Prague", "ror": "https://ror.org/03kqpb082",
        "country_code": "CZ", "type": "education", "lineage": ["https://openalex.org/I44504214"]}],
        "countries": ["CZ"], "is_corresponding": true, "raw_author_name": "Jakub\u016fv,
        Jan", "raw_affiliation_strings": ["Czech Technical University in Prague, Czech
        Republic"], "affiliations": [{"raw_affiliation_string": "Czech Technical University
        in Prague, Czech Republic", "institution_ids": ["https://openalex.org/I44504214"]}]},
        {"author_position": "middle", "author": {"id": null, "display_name": "Chvalovsk\u00fd,
        Karel", "orcid": "https://orcid.org/0000-0002-0541-3889"}, "institutions":
        [{"id": "https://openalex.org/I44504214", "display_name": "Czech Technical
        University in Prague", "ror": "https://ror.org/03kqpb082", "country_code":
        "CZ", "type": "education", "lineage": ["https://openalex.org/I44504214"]}],
        "countries": ["CZ"], "is[...]
