---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Mailto:
      - "<OPENALEX_EMAIL>"
      Apikey:
      - "<OPENALEX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Cost-Usd:
      - '0.0001'
      X-Ratelimit-Credits-Used:
      - '1'
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Limit-Usd:
      - '1'
      X-Ratelimit-Onetime-Remaining:
      - '0'
      X-Ratelimit-Prepaid-Remaining-Usd:
      - '0'
      X-Ratelimit-Remaining:
      - '9866'
      X-Ratelimit-Remaining-Usd:
      - '0.9866'
      X-Ratelimit-Reset:
      - '422'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"count": 297070697, "db_response_time_ms": 158, "page": null,
        "per_page": 1, "next_cursor": "IlsxMDAuMCwgODAxMjE3LCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzMwMzg1Njg5MDgnXSI=",
        "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W3038568908",
        "doi": "https://doi.org/10.1585/pfr.15.2402039", "title": "Radiation Resistant
        Camera System for Monitoring Deuterium Plasma Discharges in the Large Helical
        Device", "display_name": "Radiation Resistant Camera System for Monitoring
        Deuterium Plasma Discharges in the Large Helical Device", "publication_year":
        2020, "publication_date": "2020-06-08", "ids": {"openalex": "https://openalex.org/W3038568908",
        "doi": "https://doi.org/10.1585/pfr.15.2402039", "mag": "3038568908"}, "language":
        "en", "primary_location": {"id": "doi:10.1585/pfr.15.2402039", "is_oa": true,
        "landing_page_url": "https://doi.org/10.1585/pfr.15.2402039", "pdf_url": "https://www.jstage.jst.go.jp/article/pfr/15/0/15_2402039/_pdf",
        "source": {"id": "https://openalex.org/S46033839", "display_name": "Plasma
        and Fusion Research", "issn_l": "1880-6821", "issn": ["1880-6821"], "is_oa":
        true, "is_in_doaj": false, "is_core": true, "host_organization": "https://openalex.org/P4328135220",
        "host_organization_name": "Japan Society of Plasma Science and Nuclear Fusion
        Research", "host_organization_lineage": ["https://openalex.org/P4328135220"],
        "host_organization_lineage_names": ["Japan Society of Plasma Science and Nuclear
        Fusion Research"], "type": "journal"}, "license": null, "license_id": null,
        "version": "publishedVersion", "is_accepted": true, "is_published": true,
        "raw_source_name": "Plasma and Fusion Research", "raw_type": "journal-article"},
        "type": "article", "indexed_in": ["crossref"], "open_access": {"is_oa": true,
        "oa_status": "diamond", "oa_url": "https://www.jstage.jst.go.jp/article/pfr/15/0/15_2402039/_pdf",
        "any_repository_has_fulltext": false}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5039600762", "display_name":
        "M. Shoji", "orcid": "https://orcid.org/0000-0003-0655-7347"}, "institutions":
        [{"id": "https://openalex.org/I199525922", "display_name": "National Institutes
        of Natural Sciences", "ror": "https://ror.org/055n47h92", "country_code":
        "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922"]}, {"id": "https://openalex.org/I4210108322",
        "display_name": "National Institute for Fusion Science", "ror": "https://ror.org/01t3wyv61",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922", "https://openalex.org/I4210108322"]}],
        "countries": ["JP"], "is_corresponding": true, "raw_author_name": "Mamoru
        SHOJI", "raw_affiliation_strings": ["National Institute for Fusion Science,
        National Institutes of Natural Sciences"], "affiliations": [{"raw_affiliation_string":
        "National Institute for Fusion Science, National Institutes of Natural Sciences",
        "institution_ids": ["https://openalex.org/I4210108322", "https://openalex.org/I199525922"]}]},
        {"author_position": "last", "author": {"id": null, "display_name": "LHD Experiment
        Group", "orcid": null}, "institutions": [{"id": "https://openalex.org/I199525922",
        "display_name": "National Institutes of Natural Sciences", "ror": "https://ror.org/055n47h92",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922"]}, {"id": "https://openalex.org/I4210108322",
        "display_name": "National Institute for Fusion Science", "ror": "https://ror.org/01t3wyv61",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922", "https://openalex.org/I4210108322"]}],
        "countries": ["JP"], "is_corresponding": false, "raw_author_name": "LHD Experiment
        Group", "raw_affiliation_strings": ["National Institute for Fusion Science,
        National Institutes of Natural Sciences"], "affiliations": [{"raw_affiliation_string":
        "National Institute for Fusion Science, National Institutes of Natural Sciences",
        "institution_ids": ["https://openalex.org/I4210108322", "https://openalex.org/I199525922"]}]}],
        "institutions": [], "countries_distinct_count": 1, "institutions_distinct_count":
        2, "corresponding_author_ids": ["https://openalex.org/A5039600762"], "corresponding_institution_ids":
        ["https://openalex.org/I199525922", "https://openalex.org/I4210108322"], "apc_list":
        null, "apc_paid": null, "fwci": 1.1363, "has_fulltext": true, "cited_by_count":
        801217, "citation_normalized_percentile": {"value": 0.86542163, "is_in_top_1_percent":
        false, "is_in_top_10_percent": false}, "cited_by_percentile_year": {"min":
        89, "max": 100}, "biblio": {"volume": "15", "issue": "0", "first_page": "2402039",
        "last_page": "2402039"}, "is_retracted": false, "is_paratext": false, "is_xpac":
        false, "primary_topic": {"id": "https://openalex.org/T10346", "display_name":
        "Magnetic confinement fusion research", "score": 0.9991000294685364, "subfield":
        {"id": "https://openalex.org/subfields/3106", "display_name": "Nuclear and
        High Energy Physics"}, "field": {"id": "https://openalex.org/fields/31", "display_name":
        "Physics and Astronomy"}, "domain": {"id": "https://openalex.org/domains/3",
        "display_name": "Physical Sciences"}}, "topics": [{"id": "https://openalex.org/T10346",
        "display_name": "Magnetic confinement fusion research", "score": 0.9991000294685364,
        "subfield": {"id": "https://openalex.org/subfields/3106", "display_name":
        "Nuclear and High Energy Physics"}, "field": {"id": "https://openalex.org/fields/31",
        "display_name": "Physics and Astronomy"}, "domain": {"id": "https://openalex.org/domains/3",
        "display_name": "Physical Sciences"}}, {"id": "https://openalex.org/T11949",
        "display_name": "Nuclear Physics and Applications", "score": 0.9987999796867371,
        "subfield": {"id": "https://openalex.org/subfields/3108", "display_name":
        "Radiation"}, "field": {"id": "https://openalex.org/fields/31", "display_name":
        "Physics and Astronomy"}, "domain": {"id": "https://openalex.org/domains/3",
        "display_name": "Physical Sciences"}}, {"id": "https://openalex.org/T10592",
        "display_name": "Fusion materials and technologies", "score": 0.998199999332428,
        "subfield": {"id": "https://openalex.org/subfields/2505", "display_name":
        "Materials Chemistry"}, "field": {"id": "https://openalex.org/fields/25",
        "display_name": "Materials Science"}, "domain": {"id": "https://openalex.org/domains/3",
        "display_name": "Physical Sciences"}}], "keywords": [{"id": "https://openalex.org/keywords/radiation",
        "display_name": "Radiation", "score": 0.7057818174362183}, {"id": "https://openalex.org/keywords/plasma",
        "display_name": "Plasma", "score": 0.5598242878913879}, {"id": "https://openalex.org/keywords/materials-science",
        "display_name": "Materials science", "score": 0.5517664551734924}, {"id":
        "https://openalex.org/keywords/optics", "display_name": "Optics", "score":
        0.5239154100418091}, {"id": "https://openalex.org/keywords/shield", "display_name":
        "Shield", "score": 0.5098416209220886}, {"id": "https://openalex.org/keywords/neutron",
        "display_name": "Neutron", "score": 0.4559711515903473}, {"id": "https://openalex.org/keywords/nuclear-engineering",
        "display_name": "Nuclear engineering", "score": 0.3836207985877991}, {"id":
        "https://openalex.org/keywords/physics", "display_name": "Physics", "score":
        0.32291728258132935}, {"id": "https://openalex.org/keywords/nuclear-physics",
        "display_name": "Nuclear physics", "score": 0.13794386386871338}, {"id": "https://openalex.org/keywords/geology",
        "display_name": "Geology", "score": 0.05549171566963196}], "concepts": [{"id":
        "https://openalex.org/C153385146", "wikidata": "https://www.wikidata.org/wiki/Q18335",
        "display_name": "Radiation", "level": 2, "score": 0.7057818174362183}, {"id":
        "https://openalex.org/C82706917", "wikidata": "https://www.wikidata.org/wiki/Q10251",
        "display_name": "Plasma", "level": 2, "score": 0.5598242878913879}, {"id":
        "https://openalex.org/C192562407", "wikidata": "https://www.wikidata.org/wiki/Q228736",
        "display_name": "Materials science", "level": 0, "score": 0.5517664551734924},
        {"id": "https://openalex.org/C120665830", "wikidata": "https://www.wikidata.org/wiki/Q14620[...]
